# This is Git's per-user configuration file.
[user]
  name = tzhenghao
  email = tanzhao@umich.edu

[alias]
  all = add .

  cl = clone

  co = checkout

  cob = checkout -b

  com = commit -m

  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

  lg = log

  prune = fetch --prune

  rb = rebase

  rst = reset

  rstall = reset HEAD .

  st = status

  sth = stash

  u = add -u

  undo = reset --soft HEAD^

[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold

[transfer]
  fsckobjects = true

[fetch]
  fsckobjects = true

[receive]
  fsckobjects = true

[push]
  followTags = true

[status]
  showUntrackedFiles = all

[help]
  autocorrect = 1
